<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Contact Us</h3>
        <p>Email: guicho@grocerystore.com</p>
        <p>Phone: (123) 456-7890</p>
        <p>Address: El Rincon del Buey, Copan Ruinas, Honduras</p>
      </div>
      
      <div class="footer-section">
        <h3>Quick Links</h3>
        <a href="/" class="footer-link">Home</a>
        
        <a href="/mainrece" class="footer-link">Recipes</a>
      </div>
      
      <div class="footer-section">
        <h3>Follow Us</h3>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter" class="footer-icon">
          <img src="/public/images/twitter.png" alt="Twitter" />
      </a>
      <a href="https://facebook.com" target="_blank" aria-label="Facebook" class="footer-icon">
          <img src="/public/images/facebook.png" alt="Facebook" />
      </a>

      
      <a href="https://instagram.com" target="_blank" aria-label="Instagram" class="footer-icon">
          <img src="/public/images/instagram.png" alt="Instagram" />
      </a>
      
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; <%= new Date().getFullYear() %> Grocery Store. All rights reserved.</p>
    </div>
</footer>
  
</body>
</html>