<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css"/>
    <script src="/public/js/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>Grocery Store</title>
</head>
<body>
    <header style="background-color: #0D3B66; color: #FAF0CA; padding: 20px;">
        <h1 style="margin: 0; ">Don Guicho's Store</h1>
        <nav style="margin-top: 10px;">
            <a href="/" style="color: #FAF0CA; text-decoration: none; margin: 0 15px; font-weight: bold;">Home</a>
            
            <a href="/mainrece" class="nav-link">Recipes</a>
            <a href="/cart"> <span class="cart-icon" role="img" aria-label="Cart">🛒</span></a>
        </nav>
    </header> 

    <!--<header>

        <img src="/public/images/logo.jpg" id="Icon" alt="MDC Chamber Logo">
        <span>Don Guicho </span>
        
    </header>  -->
    